<a href="{{ path('spyck_visualization_dashboard_show', {dashboardId: object.dashboard.id}|merge(object.variables)) }}" class="btn btn-sm btn-default" title="Show" target="_blank">
    <i class="glyphicon glyphicon-zoom-in"></i>
    Show
</a>
