<a href="{{ path('spyck_visualization_dashboard_show', { 'dashboardId': object.id }) }}" class="btn btn-sm btn-default" title="Show" target="_blank">
    <i class="glyphicon glyphicon-zoom-in"></i>
    Show
</a>
