{% if admin.hasAccess('list', object) and admin.hasRoute('message') %}
    <a href="{{ admin.generateObjectUrl('message', object) }}" class="btn btn-sm btn-default" title="{{ 'Send'|trans({}, admin.translationdomain) }}">
        <i class="glyphicon glyphicon-envelope"></i>
        {{ 'Send'|trans({}, admin.translationdomain) }}
    </a>
{% endif %}
