<a href="{{ path('admin_spyck_visualization_log_list', {'filter': {'dashboard': {'value': object.dashboard.id }, 'type': {'value': constant('Spyck\\VisualizationBundle\\Entity\\Log::TYPE_MAIL')}}}) }}" class="btn btn-sm btn-default" title="{{ 'Log'|trans({}, admin.translationdomain) }}">
    <i class="fa fa-file-contract"></i>
    {{ 'Logs'|trans({}, admin.translationdomain) }}
</a>
